* {
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    width: 27%;
    height: 12%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 20px;
}
.navbar {
    background-color: #fff;
    
    padding-bottom: 8%;
    

}

.row{
    height: 120%;
    width: 130%;
}
 
.content {
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: red;
}

.about {
    color:darkblue ;
} 